body {
    background-color: lightslategray;
}
	#banner {
	width: 100%;
	height:min-content;
	background-position: center;

}
article {
    background-color: whitesmoke;
    padding: 1em;
}
h1 {
    font-size: 2em;
    color: whitesmoke;
}
p {
    font-size: 1em;
    color: white;
}